h1:first-of-type {
  display: none !important;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}
h1 {
  text-align: center;
  font-family: "oxygen", sans-serif;
  font-style: bold;
  font-style: italic;
}
p.section-title {
  text-align: center;
  font-size: 25px;
  font-family: "oxygen", sans-serif;
  font-style: italic;
}


#header-nav {
  background-color: green;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'lora', serif;
  color: hotpink;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: hotpink;
  text-shadow: 1px 1px 1px;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
  visibility: hidden;
}

#phone {
  margin-top: 5px;
}
#phone a { 
  text-align: right;
  padding-bottom: 0;
  visibility: hidden;
}
#phone div { 
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
  visibility: hidden;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid hotpink;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

@media (min-width: 1200px) {
#nav-list a {
  color: #951C49;
  text-align: center;
  visibility: hidden;
}
}

@media (min-width: 992px) and (max-width: 1199px) {

  #nav-list a {
  color: #951C49;
  text-align: center;
  visibility: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

#nav-list a {
  color: #951C49;
  text-align: center;
  visibility: hidden;
}
}

@media (max-width: 767px) {
    .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    height: 20px;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
 

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
    visibility: hidden;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
    visibility: hidden;
  }
}